/*.project
/games
/bin
/.settings
/.worksheet
/kmeans-result.txt/data
/counts.txt
/counts-GP.txt
/mafiaRareWords.txt/*.crc
/mafiaRareWords.txt
/mafiaRareWordsGP.txt
/mafiaWords.txt
/mafiaWordsGP.txt
/messages.txt
/kmeans-result.txt/metadata
/project/target
/.cache-main
/.cache-tests
/.classpath
/project/project/target/config-classes
/stat
/stat2
/stat2014
/stat2015
/stat2016
/stat20162
/stat2016full
/stat3
/stat4
/stat5
/stat6
/target
/games_from_db.txt
